.app {
  display: flex;
  height: 100%;
  position: relative;
}
.navigation{
  top: 0;
  position: sticky;
  padding-bottom: 20%;
  padding-left: 2%;
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  justify-content: space-around;
}
.content {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.data {
  text-wrap: wrap;
  width: 700px;
}